body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
}

.app-container {
  background: #ffffff;
  padding: 40px 50px;
}

h1 {
  font-size: 1.8rem;
  color: #4b4b4b;
  margin-bottom: 25px;
}
